/transakties.dbm.dbf.0
/transakties.dbm.dbf.t
/transakties.dbm.dbr.0
/transakties.dbm.dbr.t
/transakties.dbm.idf.0
/transakties.dbm.idf.t
/transakties.dbm.idr.0
/transakties.dbm.idr.t
/target
/.classpath
/.project
/.settings
